body {
    font-family: "Roboto", sans-serif;
    background-color: gray;
  }
  
  .container-pagina {
    width: 414px;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0;
  }
  
  .barra-superior {
    width: 414px;
    height: 92px;
    background-color: #cf2b2b;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: fixed;
  }
  
  h1 {
    font-family: "Righteous";
    color: #ffffff;
    font-size: 44px;
    margin-top: 8px;
    margin-left: 21px;
  }
  
  h2 {
    color: #ffffff;
    font-size: 18px;
    line-height: 21px;
    margin-top: 5px;
    margin-left: 21px;
  }
  
  .menu-principal {
    width: 100%;
    height: 1080px;
    background-color: #e5e5e5;
  }
  
  .escolha1 {
    font-family: "Righteous";
    color: #333333;
    font-weight: 400;
    font-size: 26px;
    margin-top: 120px;
    margin-bottom: 17px;
    margin-left: 19px;
  }

  .escolha2 {
    font-family: "Righteous";
    color: #333333;
    font-weight: 400;
    font-size: 26px;
    margin-top: 27px;
    margin-bottom: 17px;
    margin-left: 19px;
  }

  .escolha3 {
    font-family: "Righteous";
    color: #333333;
    font-weight: 400;
    font-size: 26px;
    margin-top: 27px;
    margin-bottom: 17px;
    margin-left: 19px;
  }
  
  .container-pratos {
    display: flex;
    margin-left: 19px;
  }
  
  .pratos {
    width: 172px;
    height: 216px;
    background-color: #ffffff;
    margin-right: 16px;
    border-radius: 9px;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
  }
  
  .pratos img {
    width: 144px;
    height: 87px;
    margin-top: 18px;
    margin-left: 14px;
  }
  
  .titulo {
    color: #333333;
    font-weight: 700;
    font-size: 16px;
    margin-top: 8px;
    margin-left: 15px;
  }
  
  .descricao {
    color: #a6a6a6;
    font-weight: 300;
    font-size: 15px;
    margin-top: 10px;
    margin-left: 15px;
  }
  
  .preco {
    color: #000000;
    font-weight: 400;
    font-size: 16px;
    margin-top: 10px;
    margin-left: 15px;
  }
  
  .barra-inferior {
    width: 414px;
    height: 92px;
    margin-bottom: auto;
    background-color: #ffffff;
    position: fixed;
    bottom: 0;
  }
  
  .selecao {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 364px;
    height: 61px;
    background-color: #cbcbcb;
    border-radius: 50px;
    margin-top: 15px;
    margin-left: 25px;
  }
  
  .selecione {
    font-size: 20px;
    font-weight: 400;
    color: #ffffff;
    width: 185px;
    line-height: 23px;
  }
  
